@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body, #root{
  height: 100%;
  box-sizing: border-box;
  border: none;
  margin: 0;
}


.hide-scrollbar{
  scrollbar-width: none;
}